<h1 id="style">Welcome!!!</h1>
<div class="main">
    <div class="sign">
        <p>Sign In using Email:<p>
    </div>
    <div class="form-container">
        <form action="/users/create-session" method="POST">
            <div class="form">
                <div class="input-bar">
                    <input class="input" type="email" name="email" placeholder="Enter Your Email" required>
                </div>
                <div class="input-bar">
                    <input class="input" type="password" name="password" placeholder="Enter Your Password" required>
                </div>
                <div class="input-bar">
                    <input class="btn" type="submit" value="SIGN IN">
                </div>
            </div>
            
        </form>
    </div>
    <Span id="txt">-----------OR---------------</Span>
    <div>
        <div class="Sign">Sign In using Google:</div>
        <p class="link">
            <a href="/users/auth/google"><i id="google" class="fab fa-google-plus"></i></a>
        </p>
    </div>


    <div class="form2">
        <p id="signup">
            New User?Create an account
        </p>
        <div>
            <a href="/users/signup"><button class="btn2">SIGN UP</button></a>
         </div>
        
    </div>
    
</div>
