<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/sign-up.css">
<% if(locals.user) {%>
    <h1 id="style">Welcome!!! <span id="namee"><%=user.name%></span> </h1>
    <h2 id="style">Do you want to change the password?</h2>
<%}%>


<div id="login-box1">

      <h1>Update Password</h1>
      <div class="left2">
      <form action="/users/update/" method="POST">
      <input type="password" name="current_password" placeholder="Current Password*" required />
      <input type="password" name="password" placeholder="New Password*" required />
      <input type="password" name="confirm_password" placeholder="Re Enter the Password*" required />
      
      <span id="Req">* Required fields.</span>
      <input id="sub" type="submit" value="UPDATE" />
    </div>
    </form>
  </div>