<link rel="stylesheet" href="/css/profile.css">

<div class="cntr">
    <div class="profile">
        <h2>Profile</h2>
    </div>
    <div class="form-cntr">
    <!-- if user open his own profile,show the update password form -->
        <h4>Name :<%=profile_user.name%></h6>
        <h4>Email :<%=profile_user.email%></h6>
        <div class="formm">
            <form action="/users/update/"  method="POST">
                <div><input class="input-bar" type="password" name="current_pass" placeholder="Current Password" required></div>
                <div><input class="input-bar" type="password" name="password" placeholder="New Password" required></div>
                <div><input class="input-bar" type="password" name="confirm_password" placeholder="Re-enter the Password" required></div>
                <div><input class="btn3" type="submit" value="UPDATE"></div>
            </form>
        </div>
        
    </div>
   
</div>

