<% if(locals.user) {%>
    <h1 id="style">Welcome!!! <span id="namee"><%=user.name%></span> </h1>
    <h2 id="style">This is HomePage</h2>
    <h2 id="style">To Update Password Check top right corner.</h2>
<%}%>