.cntr{
    background-color: lightblue;
    width: 30%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 100px;
    text-align: center;
}
 
.form-cntr h4{
    color: gray;
}

.btn3{
    color: wheat;
    background-color: black;
}